* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body, html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Ubuntu", "Helvetica", "微軟雅黑", "Microsoft YaHei", "Segoe UI Semibold", "Segoe UI", 
                 "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    background: rgb(242,242,242);
    /*background: -moz-linear-gradient(45deg, rgba(225,255,255,1) 0%, rgba(225,255,255,1) 11%, rgba(230,248,253,1) 30%, rgba(200,238,251,1) 54%, rgba(190,228,248,1) 75%, rgba(177,216,245,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(225,255,255,1) 0%,rgba(225,255,255,1) 11%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%);
    background: linear-gradient(45deg, rgba(225,255,255,1) 0%,rgba(225,255,255,1) 11%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=1 );*/
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
}

#avatar {
    border-radius: 50%;
    height: auto;
    width: auto;
    max-width: 185px;
    margin: 20px;
    margin-top: 0px;
}

#name-div {
    position: relative;
    text-align: center;
}

#zh-name, #en-name{
    font-weight: 500;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

#zh-name {
    letter-spacing: 0.10em;
}

#motto {
    text-align: center;
    word-spacing: 0.1ex;
    font-size: 23px;
    font-weight: 400;
    padding-top: 10px;
}

.no-break {
    display: inline-block;
}




