*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100% - 50px);
    padding-top: 25px;
}

#avatar {
    border-radius: 50%;
    height: auto;
    width: auto;
    width: 185px;
    margin-bottom: 20px;
}

#name-div {
    position: relative;
    text-align: center;
}

#zh-name, #en-name{
    font-weight: 500;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

#zh-name {
    letter-spacing: 0.10em;
}

#motto {
    text-align: center;
    word-spacing: 0ex;
    font-size: 20px;
    font-weight: 300;
    padding-top: 10px;
}

#aboutme-btn {
    margin-top: 35px;
    font-size: 19px;
    width: 130px;
    padding: 8px 0;
    text-align: center;
    color: rgb(130,130,130);
    border: 2px solid rgb(130,130,130);
    border-radius: 50px; 
    text-decoration: none;
    outline: none;
    background-color: transparent;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    word-spacing: 50%;
}

#aboutme-btn:hover,#aboutme-btn:active {
    background-color: rgb(130,130,130);
    color: white;
    
}

#aboutme-btn:active {
    transform: scale(0.9);
    background-color: rgb(130,130,130);
    color: white;
}

#footer {
    width: 100%;
    text-align: center;
    height: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 17px;
    opacity: 0.5;
}

#github-link{
    outline: none;
}

.no-break {
    display: inline-block;
}

.fadeout {
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    opacity: 0;
    display: none;
}

main.fadein {
    transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    opacity: 1;
}
